# Data Exploration

Quick overview of the dataset before detailed analysis.

In [1]:
import pandas as pd
import sqlite3

# Load data from database
conn = sqlite3.connect('../databases/nhanes_1st.db')
df = pd.read_sql_query('SELECT * FROM raw_dataset', conn)
conn.close()

print(f"Dataset loaded: {df.shape[0]:,} rows × {df.shape[1]} columns")

Dataset loaded: 34,097 rows × 29 columns

In [2]:
print("="*80)
print("DATASET INFO")
print("="*80)
df.info()

================================================================================
DATASET INFO
================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34097 entries, 0 to 34096
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         34097 non-null  float64
 1   gender                      34097 non-null  float64
 2   ethnicity                   34097 non-null  float64
 3   income_ratio                29491 non-null  float64
 4   body_mass_index             30452 non-null  float64
 5   height_cm                   30524 non-null  float64
 6   heart_rate_bpm              27475 non-null  float64
 7   white_blood_cells_count     29492 non-null  float64
 8   platelets_count             29492 non-null  float64
 9   hemoglobin_g_dl             29498 non-null  float64
 10  mean_corpuscular_volume_fL  29498 non-null  float64
 11  creatinine_mg_dl            28717 non-null  float64
 12  liver_ast_U_L               28652 non-null  float64
 13  bilirubin_mg_dl             28693 non-null  float64
 14  liver_ggt_U_L               28715 non-null  float64
 15  uric_acid_mg_dl             28713 non-null  float64
 16  sodium_mmol_L               28756 non-null  float64
 17  potassium_mmol_L            28673 non-null  float64
 18  cholesterol_mg_dl           28855 non-null  float64
 19  alcohol_drinks_per_week     23588 non-null  float64
 20  smoking_status              14336 non-null  float64
 21  has_cardiovascular_disease  34097 non-null  int64
 22  high_waist_circumference    29140 non-null  float64
 23  high_triglycerides_mg_dl    14213 non-null  float64
 24  low_hdl_mg_dl               28855 non-null  float64
 25  high_blood_pressure         28698 non-null  float64
 26  high_glucose_mg_dl          13816 non-null  float64
 27  albuminuria_risk            30171 non-null  float64
 28  liver_dysfunction           28708 non-null  float64
dtypes: float64(28), int64(1)
memory usage: 7.5 MB

In [3]:
print("\n" + "="*80)
print("SUMMARY STATISTICS")
print("="*80)
print(df.describe())

================================================================================
SUMMARY STATISTICS
================================================================================
                age        gender     ethnicity  income_ratio  \
count  34097.000000  34097.000000  34097.000000  29491.000000
mean      51.158049      1.525677      3.380532      2.610263
std       17.734500      0.499348      1.543211      1.638134
min       20.000000      1.000000      1.000000      0.000000
25%       36.000000      1.000000      3.000000      1.180000
50%       52.000000      2.000000      3.000000      2.250000
75%       66.000000      2.000000      4.000000      4.270000
max       80.000000      2.000000      7.000000      5.000000

       body_mass_index     height_cm  heart_rate_bpm  white_blood_cells_count  \
count     30452.000000  30524.000000    27475.000000             29492.000000
mean         29.707668    166.602780       71.328699                 7.208328
std           7.343951     10.118069       11.882017                 2.210517
min          11.100000    129.700000       34.000000                 1.400000
25%          24.600000    159.100000       63.000000                 5.700000
50%          28.500000    166.300000       70.000000                 6.900000
75%          33.400000    173.900000       78.000000                 8.400000
max          92.300000    202.700000      160.000000                44.800000

       platelets_count  hemoglobin_g_dl  ...  alcohol_drinks_per_week  \
count     29492.000000     29498.000000  ...             23588.000000
mean        244.006680        13.936070  ...                 3.476528
std          64.614821         1.541585  ...                 8.070791
min          36.000000         5.400000  ...                 0.000000
25%         200.000000        13.000000  ...                 0.000000
50%         237.000000        14.000000  ...                 0.500000
75%         280.000000        15.000000  ...                 3.500000
max         787.000000        19.900000  ...               126.000000

       smoking_status  has_cardiovascular_disease  high_waist_circumference  \
count    14336.000000                34097.000000              29140.000000
mean         2.238072                    0.119629                  0.594715
std          0.923607                    0.324532                  0.490956
min          1.000000                    0.000000                  0.000000
25%          1.000000                    0.000000                  0.000000
50%          3.000000                    0.000000                  1.000000
75%          3.000000                    0.000000                  1.000000
max          3.000000                    1.000000                  1.000000

       high_triglycerides_mg_dl  low_hdl_mg_dl  high_blood_pressure  \
count              14213.000000   28855.000000         28698.000000
mean                   0.210019       0.294056             0.359886
std                    0.407336       0.455625             0.479975
min                    0.000000       0.000000             0.000000
25%                    0.000000       0.000000             0.000000
50%                    0.000000       0.000000             0.000000
75%                    0.000000       1.000000             1.000000
max                    1.000000       1.000000             1.000000

       high_glucose_mg_dl  albuminuria_risk  liver_dysfunction
count        13816.000000      30171.000000       28708.000000
mean             0.588376          0.153889           0.151003
std              0.492146          0.419388           0.358058
min              0.000000          0.000000           0.000000
25%              0.000000          0.000000           0.000000
50%              1.000000          0.000000           0.000000
75%              1.000000          0.000000           0.000000
max              1.000000          2.000000           1.000000

[8 rows x 29 columns]

In [4]:
print("\n" + "="*80)
print("FIRST ROWS")
print("="*80)
display(df.head())

================================================================================
FIRST ROWS
================================================================================

,age,gender,ethnicity,income_ratio,body_mass_index,height_cm,heart_rate_bpm,white_blood_cells_count,platelets_count,hemoglobin_g_dl,...,alcohol_drinks_per_week,smoking_status,has_cardiovascular_disease,high_waist_circumference,high_triglycerides_mg_dl,low_hdl_mg_dl,high_blood_pressure,high_glucose_mg_dl,albuminuria_risk,liver_dysfunction
0,69.0,1.0,4.0,0.84,26.7,171.3,86.0,4.7,204.0,15.2,...,0.019231,3.0,1,0.0,NaN,0.0,0.0,NaN,0.0,0.0
1,54.0,1.0,3.0,1.78,28.6,176.8,74.0,12.6,314.0,11.9,...,28.000000,2.0,0,1.0,NaN,0.0,1.0,NaN,2.0,0.0
2,72.0,1.0,3.0,4.51,28.9,175.3,68.0,7.2,237.0,17.2,...,NaN,3.0,0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3,73.0,2.0,3.0,5.00,19.7,162.4,92.0,6.6,300.0,14.5,...,NaN,NaN,0,NaN,0.0,0.0,1.0,1.0,1.0,1.0
4,56.0,1.0,1.0,4.79,41.7,158.7,60.0,9.4,249.0,14.2,...,0.096154,3.0,1,1.0,NaN,1.0,1.0,NaN,1.0,0.0