# Data Exploration

Quick overview of the dataset before detailed analysis.

In [7]:
import pandas as pd
import sqlite3

# Load data from database
conn = sqlite3.connect('../databases/nhanes_1st.db')
df = pd.read_sql_query('SELECT * FROM raw_dataset', conn)
conn.close()

print(f"Dataset loaded: {df.shape[0]:,} rows × {df.shape[1]} columns")

Dataset loaded: 56,893 rows × 29 columns

In [8]:
# NOTE: Column renaming should be moved to ETL pipeline or data cleaning later

# Ranaming columns standards
# - Use lowercase with underscores (snake_case)
# - Add units as abbriviations if needed (e.g., _cm, _bpm, _g_dl)
# - Use full words instead of abbreviations where possible

column_mapping = {
    # Demographics
    'RIDAGEYR': 'age',
    'RIAGENDR': 'gender',
    'RIDRETH3': 'ethnicity',
    'INDFMPIR': 'income_ratio',

    # Physical measurements
    'BMXBMI': 'body_mass_index',
    'BMXHT': 'height_cm',
    'Pulse': 'heart_rate_bpm',

    # Blood cell counts
    'LBXWBCSI': 'white_blood_cells_count',
    'LBXPLTSI': 'platelets_count',
    'LBXHGB': 'hemoglobin_g_dl',
    'LBXMCVSI': 'mean_corpuscular_volume_fL',

    # Kidney markers
    'LBXSCR': 'creatinine_mg_dl',
    'LBXSUA': 'uric_acid_mg_dl',

    # Liver markers
    'LBXSASSI': 'liver_ast_U_L',
    'LBXSTB': 'bilirubin_mg_dl',
    'LBXSGTSI': 'liver_ggt_U_L',

    # Electrolytes
    'LBXSNASI': 'sodium_mmol_L',
    'LBXSKSI': 'potassium_mmol_L',

    # Lipids
    'LBXTC': 'cholesterol_mg_dl',

    # Lifestyle
    'Alcohol_Drinks_Per_Week': 'alcohol_drinks_per_week',
    'SMQ040': 'smoking_status',

    # Target: Cardiovascular
    'Cardiovascular_target': 'has_cardiovascular_disease',

    # Target: Metabolic syndrome (5 components)
    'Waist_Label': 'high_waist_circumference',
    'Triglycerides_Label': 'high_triglycerides_mg_dl',
    'HDL_Label': 'low_hdl_mg_dl',
    'BP_Label': 'high_blood_pressure',
    'Glucose_Label': 'high_glucose_mg_dl',

    # Target: Kidney health
    'ACR_Log': 'kidney_acr_mg_g',

    # Target: Liver health
    'ALT_Log': 'liver_alt_U_L'
}

df.rename(columns=column_mapping, inplace=True)
print("✓ Columns renamed")

✓ Columns renamed

In [9]:
print("="*80)
print("DATASET INFO")
print("="*80)
df.info()

print("\n" + "="*80)
print("SUMMARY STATISTICS")
print("="*80)
print(df.describe())

print("\n" + "="*80)
print("FIRST ROWS")
print("="*80)
display(df.head())

================================================================================
DATASET INFO
================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56893 entries, 0 to 56892
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         56893 non-null  float64
 1   gender                      56893 non-null  float64
 2   ethnicity                   56893 non-null  float64
 3   income_ratio                49583 non-null  float64
 4   body_mass_index             47424 non-null  float64
 5   height_cm                   47508 non-null  float64
 6   heart_rate_bpm              37178 non-null  float64
 7   white_blood_cells_count     43938 non-null  float64
 8   platelets_count             43938 non-null  float64
 9   hemoglobin_g_dl             43938 non-null  float64
 10  mean_corpuscular_volume_fL  43938 non-null  float64
 11  creatinine_mg_dl            34512 non-null  float64
 12  liver_ast_U_L               34432 non-null  float64
 13  bilirubin_mg_dl             34506 non-null  float64
 14  liver_ggt_U_L               34510 non-null  float64
 15  uric_acid_mg_dl             34508 non-null  float64
 16  sodium_mmol_L               34556 non-null  float64
 17  potassium_mmol_L            34455 non-null  float64
 18  cholesterol_mg_dl           39336 non-null  float64
 19  alcohol_drinks_per_week     24974 non-null  float64
 20  smoking_status              14492 non-null  float64
 21  has_cardiovascular_disease  34097 non-null  float64
 22  high_waist_circumference    45339 non-null  float64
 23  high_triglycerides_mg_dl    16870 non-null  float64
 24  low_hdl_mg_dl               39336 non-null  float64
 25  high_blood_pressure         38904 non-null  float64
 26  high_glucose_mg_dl          16355 non-null  float64
 27  kidney_acr_mg_g             44626 non-null  float64
 28  liver_alt_U_L               34503 non-null  float64
dtypes: float64(29)
memory usage: 12.6 MB

================================================================================
SUMMARY STATISTICS
================================================================================
                age        gender     ethnicity  income_ratio  \
count  5.689300e+04  56893.000000  56893.000000  4.958300e+04
mean   3.407149e+01      1.512277      3.370239  2.407602e+00
std    2.527023e+01      0.499854      1.626756  1.633919e+00
min    5.397605e-79      1.000000      1.000000  5.397605e-79
25%    1.100000e+01      1.000000      3.000000  1.020000e+00
50%    3.100000e+01      2.000000      3.000000  1.980000e+00
75%    5.700000e+01      2.000000      4.000000  3.870000e+00
max    8.000000e+01      2.000000      7.000000  5.000000e+00

       body_mass_index    height_cm  heart_rate_bpm  white_blood_cells_count  \
count     47424.000000  47508.00000    37178.000000             43938.000000
mean         26.443765    156.69959       73.118605                 7.290216
std           8.188407     22.32124       12.344447                 3.529356
min          11.100000     78.30000       34.000000                 1.400000
25%          20.400000    151.30000       64.000000                 5.700000
50%          25.600000    162.10000       72.000000                 7.000000
75%          31.100000    171.20000       80.666667                 8.500000
max          92.300000    202.70000      180.000000               400.000000

       platelets_count  hemoglobin_g_dl  ...  alcohol_drinks_per_week  \
count     43938.000000     43938.000000  ...             24974.000000
mean        258.994287        13.693971  ...                 3.331575
std          70.151729         1.500680  ...                 7.888111
min           8.000000         5.400000  ...                 0.000000
25%         211.000000        12.700000  ...                 0.000000
50%         251.000000        13.600000  ...                 0.465116
75%         298.000000        14.700000  ...                 3.000000
max        1021.000000        19.900000  ...               126.000000

       smoking_status  has_cardiovascular_disease  high_waist_circumference  \
count    14492.000000                34097.000000              45339.000000
mean         2.233094                    0.119629                  0.417786
std          0.923721                    0.324532                  0.493200
min          1.000000                    0.000000                  0.000000
25%          1.000000                    0.000000                  0.000000
50%          3.000000                    0.000000                  0.000000
75%          3.000000                    0.000000                  1.000000
max          3.000000                    1.000000                  1.000000

       high_triglycerides_mg_dl  low_hdl_mg_dl  high_blood_pressure  \
count              16870.000000   39336.000000         38904.000000
mean                   0.186426       0.283455             0.270409
std                    0.389461       0.450681             0.444177
min                    0.000000       0.000000             0.000000
25%                    0.000000       0.000000             0.000000
50%                    0.000000       0.000000             0.000000
75%                    0.000000       1.000000             1.000000
max                    1.000000       1.000000             1.000000

       high_glucose_mg_dl  kidney_acr_mg_g  liver_alt_U_L
count        16355.000000     44626.000000   34503.000000
mean             0.541975         2.475383       2.947035
std              0.498250         1.039504       0.522609
min              0.000000         0.078545       0.693147
25%              0.000000         1.827350       2.564949
50%              1.000000         2.214616       2.890372
75%              1.000000         2.813951       3.218876
max              1.000000         9.959545       6.525030

[8 rows x 29 columns]

================================================================================
FIRST ROWS
================================================================================

,age,gender,ethnicity,income_ratio,body_mass_index,height_cm,heart_rate_bpm,white_blood_cells_count,platelets_count,hemoglobin_g_dl,...,alcohol_drinks_per_week,smoking_status,has_cardiovascular_disease,high_waist_circumference,high_triglycerides_mg_dl,low_hdl_mg_dl,high_blood_pressure,high_glucose_mg_dl,kidney_acr_mg_g,liver_alt_U_L
0,69.0,1.0,4.0,0.84,26.7,171.3,86.0,4.7,204.0,15.2,...,0.019231,3.0,1.0,0.0,NaN,0.0,0.0,NaN,2.487041,2.772589
1,54.0,1.0,3.0,1.78,28.6,176.8,74.0,12.6,314.0,11.9,...,28.000000,2.0,0.0,1.0,NaN,0.0,1.0,NaN,5.726848,3.367296
2,72.0,1.0,3.0,4.51,28.9,175.3,68.0,7.2,237.0,17.2,...,NaN,3.0,0.0,1.0,0.0,0.0,1.0,1.0,2.445037,2.772589
3,9.0,1.0,3.0,2.52,17.1,137.3,64.0,7.8,240.0,12.9,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,3.093432,NaN
4,73.0,2.0,3.0,5.00,19.7,162.4,92.0,6.6,300.0,14.5,...,NaN,NaN,0.0,NaN,0.0,0.0,1.0,1.0,5.161749,3.332205

In [10]:
# Save renamed columns back to database
conn = sqlite3.connect('../databases/nhanes_1st.db')
df.to_sql('raw_dataset', conn, if_exists='replace', index=False)
conn.close()

print("✓ Renamed dataset saved to database")

✓ Renamed dataset saved to database